In [4]:
#Import libraries
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib as plt
import seaborn as sns
from src.data_processing import clean_data
import src.visualization as vis

In [5]:
#Load data
df = pd.read_csv('vehicles_us.csv')

In [6]:
df.describe()

,price,model_year,cylinders,odometer,is_4wd,days_listed
count,51525.000000,47906.000000,46265.000000,43633.000000,25572.0,51525.00000
mean,12132.464920,2009.750470,6.125235,115553.461738,1.0,39.55476
std,10040.803015,6.282065,1.660360,65094.611341,0.0,28.20427
min,1.000000,1908.000000,3.000000,0.000000,1.0,0.00000
25%,5000.000000,2006.000000,4.000000,70000.000000,1.0,19.00000
50%,9000.000000,2011.000000,6.000000,113000.000000,1.0,33.00000
75%,16839.000000,2014.000000,8.000000,155000.000000,1.0,53.00000
max,375000.000000,2019.000000,12.000000,990000.000000,1.0,271.00000

In [7]:
#Show data info
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [8]:
#Clean data
df_clean = clean_data(df)

In [9]:
#Show clean DataFrame
df_clean.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,brand
0,9400,2011,bmw x5,good,6.0,gas,145000.0,automatic,SUV,custom,Yes,2018-06-23,19,BMW
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,Yes,2018-10-19,50,FORD
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,No,2019-02-07,79,HYUNDAI
3,1500,2003,ford f-150,fair,8.0,gas,NaN,automatic,pickup,custom,No,2019-03-22,9,FORD
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,No,2019-04-02,28,CHRYSLER
5,14990,2014,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,Yes,2018-06-20,15,CHRYSLER
6,12990,2015,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,No,2018-12-27,73,TOYOTA
7,15990,2013,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,Yes,2019-01-07,68,HONDA
8,11500,2012,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,custom,Yes,2018-07-16,19,KIA
9,9200,2008,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,Yes,2019-02-15,17,HONDA

In [10]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  object
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  object
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
 13  brand         51525 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 5.5+ MB

In [14]:
df_clean.query('price > 100000')

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,brand
1309,189000,2014,ford f-150,good,6.0,gas,151248.0,automatic,truck,black,No,2019-03-02,56,FORD
1668,189000,2014,ford f-150,good,6.0,gas,151248.0,automatic,truck,custom,No,2019-03-20,21,FORD
11359,300000,2015,ram 2500,excellent,NaN,diesel,NaN,automatic,truck,grey,Yes,2018-10-15,39,RAM
12504,375000,1999,nissan frontier,good,6.0,gas,115000.0,automatic,pickup,blue,Yes,2018-05-19,21,NISSAN
20700,109999,NaN,chevrolet corvette,new,8.0,gas,35.0,automatic,coupe,white,No,2018-09-07,74,CHEVROLET
22833,115000,2012,ford f-250 super duty,good,8.0,diesel,225000.0,automatic,truck,white,No,2018-12-08,53,FORD
24999,140000,2004,ram 2500,good,6.0,diesel,249000.0,automatic,truck,red,Yes,2019-01-22,8,RAM
27375,189000,2014,ford f-150,good,6.0,gas,151248.0,automatic,truck,black,No,2018-09-25,72,FORD
29810,123456,2000,chevrolet suburban,good,8.0,gas,123456.0,manual,truck,silver,No,2018-05-09,40,CHEVROLET
30634,189000,2014,ford f-150,good,6.0,gas,NaN,automatic,truck,black,No,2018-07-21,42,FORD
33434,189000,2014,ford f-150,good,6.0,gas,151248.0,automatic,truck,black,No,2019-02-05,102,FORD
34206,175000,2004,gmc sierra 2500hd,good,8.0,diesel,149000.0,automatic,truck,grey,Yes,2018-08-25,57,GMC
34389,189000,2014,ford f-150,good,6.0,gas,151248.0,automatic,truck,black,No,2019-02-02,28,FORD
36822,123456,2000,chevrolet suburban,good,8.0,gas,NaN,manual,truck,silver,No,2018-12-25,33,CHEVROLET
41748,145000,2008,toyota tundra,like new,NaN,gas,140000.0,automatic,truck,red,Yes,2018-06-16,29,TOYOTA
42853,123456,2005,chevrolet suburban,fair,NaN,gas,NaN,automatic,SUV,silver,Yes,2019-03-06,21,CHEVROLET
45263,120000,2006,chevrolet silverado 1500,good,8.0,gas,136000.0,automatic,truck,blue,Yes,2018-05-22,27,CHEVROLET